{% extends "layout01.html" %}
{% block title %} ВІКНА|СТЕЛІ {% endblock %}
  {% block main %}
    <div class="row p-3 text-center" style="margin-top:80px;">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="card bg-yellow">
                {% if item != "None" %}
                <div class="view overlay">
                    <img src="{{ 'static/img/' + item['path'] }}" alt="Глянцеві" class="card-img-top">
                </div>
                <div class="card-body text-center">
                    <strong>{{ key }}</strong>
                    <h5>
                    <strong>
                        {{item["name"]}} 
                    </strong>
                    </h5>
                    <h4 class="font-weight-bold">
                    <strong class="text-red">
                        {{item["price"]}}грн.
                    </strong>
                    </h4>
                    <a href="tel:+380{{ phone }}" class="btn bg-red">Подзвонити та замовити товар</a>
                </div>
                {% else %}
                <div class="view overlay bg-light">
                <h2 class="text-center"></h2>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
  {% endblock %}  